/* from: https://leaverou.github.io/bubbly/ */

.speech-bubble {
	position: relative;
	background: #444;
	border-radius: .4em;
}

.speech-bubble:after {
  content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.813em solid transparent;
	border-right-color: #444;
	border-left: 0;
	margin-top: -0.812em;
	margin-left: -0.812em;
}
}
