/* Element stylings */
html, body { font-family: 'Ubuntu', sans-serif; margin: 0px; min-height: 100vh; min-width: 100vw; scroll-behavior: smooth; color: white; }
h1 { font-size: 48px; }
h2 { font-size: 32px; }
h3, h4 { font-size: 28px; }
p { text-align: center; margin: 0px; text-align: left; }
a { text-decoration: none; color: white; }
ul { margin: 0px; padding: 0px; list-style-type: none; display: flex; flex-wrap: wrap; }
li { padding: 20px; }


/* Stylie things */
.white { color: #fff; }
.lightgrey { color: grey; }
.grey { color: #777; }
.teal { color: #00bdbd; }
.red { color: #ab1b1e; }
.section { min-height: 100vh; width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.section-content { width: 90%; flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }
.container { max-width: 800px; margin-left: auto; margin-right: auto; padding: 20px; }
.row { display: flex; align-items: center; }
.subheading-left { text-align: left; margin-top: 20px; margin-bottom: 30px; }
.highlighted { background-color: white; border-radius: 20px; }
.middle { text-align: center; }
.transition { transition: all 0.25s ease-in-out; }
.hide { display: none; }
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }


/* desktop adjustments */
@media only screen and (min-width: 900px) {
  h1 { font-size: 48px; }
  h2 { font-size: 32px; }
  h3, h4 { font-size: 24px; }
  #continue { margin-bottom: 40px; }
}


/* individual stylings */
#nav { position: fixed; top: 10px; right: 10px; display: flex; flex-direction: column; }
#nav-menu ul { flex-direction: column; align-items: flex-end; }
#nav-menu li { padding: 0px; }
#nav-menu li a { display: flex; align-items: center; padding: 0px; }
#nav-menu li .nav-icon { width: 3px; height: 3px; margin: 5px; margin-right: 20px; padding: 10px; border: solid; border-width: 4px; border-radius: 60px; }
#nav-menu li .nav-icon:hover { background-color: #00bdbd; }
#nav-menu li .selected { background-color: #ab1b1e; }

#continue {
  margin-bottom: 100px;
  color: white;
}
#continue a { font-size: 20px; padding: 10px; border-top: solid; border-bottom: solid; border-radius: 5px; border-color: #ab1b1e; }
#continue a:hover { color: #777; }

#landing img { max-width: 250px; }
#landing h1, h2 { margin: 10px; }

#process img { width: 75px; padding: 2px; }
#process ul { margin-bottom: 20px; justify-content: center; }
#process li { padding: 15px; text-align: center; }
#process .speech-bubble { padding: 10px; }
#tooltip-area a { text-decoration: underline; }
#tooltip-area p { margin-bottom: 10px; margin-left: 10px; margin-right: 10px; }


#apps h1 { align-self: flex-start; }
#apps img { height: 25em; max-height: 500px; margin: 40px; }
#apps .app-scroll-buttons { display: flex; justify-content: center; }
#apps .app-scroll-buttons * { padding: 30px; font-weight: bold; font-size: 40px; }
#app { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; }
#app .app-info { margin-top: auto; margin-bottom: auto; max-width: 600px; text-align: left; }
#app h2 { margin: 0px; margin-bottom: 5px; text-decoration: underline; }
#app h4 { margin-top: 20px; margin-bottom: 10px; }
#app a:hover { color: #777; }

#contact .section-content { align-items: flex-start; }
#contact p { margin: 10px; }
#contact a { align-self: center; text-decoration: underline; }
#contact a:hover { color: #777; }
