/* Element stylings */
html, body { font-family: 'Ubuntu', sans-serif; margin: 0px; min-height: 100vh; min-width: 100vw; scroll-behavior: smooth; color: white; }
h1 { font-size: 48px; margin: 10px; }
h2, h3, h4 { font-size: 32px; margin: 10px; }
p { text-align: center; margin: 0px; text-align: left; }
a { text-decoration: none; color: white; }
ul { margin: 0px; padding: 0px; list-style-type: none; display: flex; flex-wrap: wrap; justify-content: center; }
li { padding: 20px; }
img { width: 200px; }


/* Stylie things */
.white { color: #fff; }
.lightgrey { color: grey; }
.grey { color: #777; }
.teal { color: #00bdbd; }
.red { color: #ab1b1e; }
.section { min-height: 100vh; width: 100vw; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.section-content { width: 90%; flex-grow: 1; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }
.container { max-width: 800px; margin-left: auto; margin-right: auto; padding: 20px; }
.subheading-left { text-align: left; margin-top: 20px; margin-bottom: 30px; }
.highlighted { background-color: white; border-radius: 20px; }
.middle { text-align: center; }


/* desktop adjustments */
@media only screen and (min-width: 900px) {
  h1 { font-size: 48px; }
  h2 { font-size: 32px; }
  h3, h4 { font-size: 24px; }
  img { width: 200px; }
}


/* individual stylings */
#continue {
  margin-bottom: 40px;
  color: white;
}
#continue a { font-size: 20px; padding: 10px; border-top: solid; border-bottom: solid; border-radius: 5px; border-color: #ab1b1e; }
#continue a:hover, a:focus { color: #777; }

#process img { width: 75px; padding: 2px; }
#process ul { margin-bottom: 20px;}
#process li { padding: 15px; text-align: center; }
#process .speech-bubble { padding: 10px; }
#tooltip-area a { text-decoration: underline; }
#tooltip-area p { margin-bottom: 10px; margin-left: 10px; margin-right: 10px; }

#apps ul { width: 100%; flex-direction: column; justify-content: space-between; align-items: flex-start; }
#apps .app-1 { margin-left: 20%; }
#apps .app-2 { margin-left: 40%; }
#apps .app-3 { margin-left: 60%; }
#apps .planet { margin-left: 80%; }
