/* Element stylings */
html, body { font-family: 'Ubuntu', sans-serif; margin: 0px; height: 100vh; width: 100vw; scroll-behavior: smooth; }
h1 { font-size: 32px; margin: 20px; }
h2, h3, h4 { font-size: 24px; margin: 5px; }
a { text-decoration: none; color: white; }


/* Stylie things */
.white { color: #fff; }
.teal { color: #008B8B; }
.red { color: #7e1416; }
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container { max-width: 800px; margin-left: auto; margin-right: auto; padding: 10px; }


/* desktop adjustments */
@media only screen and (min-width: 768px) {

}


/* individual stylings */

#continue {
  position: fixed;
  width: 80px;
  bottom: 100px;
  left: calc(50vw - 40px);
  color: white;
  align-self: center;
}
#continue a { padding: 10px; border-bottom: solid; border-left: solid; border-radius: 30px; border-color: #7e1416; }


#landing img { width: 200px; align-self: center; }
#landing h1 { font-size: 48px; }
#landing h2 { font-size: 32px; }
